* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-01 {
    width: 70px;
    margin-left: 10px;
}

.h1 {
    font-family: sans-serif;
    font-size: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Navbar {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

a {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.anchor {
    margin-left: 1000px;
}

span {
    color: #3663EB;
}

.h-1 {
    font-size: 60px;
    font-family: sans-serif;
    flex-direction: column;
    margin-left: 380px;
    margin-top: 100px;
}

.p {
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 100px;
}

.btn {
    border-radius: 10% 17% 10% 49% / 10% 10% 10% 10%;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    color: #FFF;
    background: linear-gradient(#4B6EF5, #5F90FC);
    margin-left: 550px;
}

.a {
    margin-left: 600px;
    margin-top: 20px;
}

.div {
    width: 70%;
    height: 80vh;
    background-color: #494544;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-left: 200px;
    margin-top: 100px;
    ;
}

.h-01 {
    font-size: 50px;
    font-family: sans-serif;
    flex-direction: column;
    margin-left: 520px;
    margin-top: 50px;
}

.img-010 {
    width: 100px;
    margin-left: 600px;
    margin-top: 10px;
}

.p-1 {
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

.img-0101 {
    margin-left: 300px;
}

.p-2 {
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 550px;
    margin-top: 200px;
}

.container {
    position: relative;
}

.img-01010 {
    position: absolute;
    width: 100px;
    left: 250px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.img-010101 {
    position: absolute;
    width: 100px;
    left: 900px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.box-01 {
    width: 100px;
    height: 100px;
    background-color: #3663EB;
    border-radius: 55%;
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.opo {
    margin-left: 100px;
}

.cloud {
    width: 100px;
    height: 100px;
    background-color: #3663EB;
    border-radius: 55%;
    margin-left: 100px;
}

.Privacy-img {
    margin-left: 27px;
    padding-top: 30px;
    font-size: 25px;
}

.lock {
    width: 100px;
    height: 100px;
    background-color: #3663EB;
    border-radius: 55%;
    margin-left: 200px;
}

.Privacy-img-01 {
    margin-left: 27px;
    padding-top: 30px;
    font-size: 25px;
}

.dolar {
    width: 100px;
    height: 100px;
    background-color: #3663EB;
    border-radius: 55%;
    margin-left: 200px;
}

.Privacy-img-3 {
    margin-left: 27px;
    padding-top: 30px;
    font-size: 25px;
}

.Privacy-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
}

.Privacy-1 {
    margin-top: 30px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 100px;
}

.h1-1 {
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 500px;
    margin-top: 200px;
}

.John_smith {
    margin-left: 530px;
}

.igm {
    width: 600px;
    margin-left: 400px;
    margin-top: 100px;
}

.igm-01 {
    width: 600px;
    height: 500px;
    margin-left: 400px;
}

.box-1 {
    background-color: #F9FAFB;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 50px;
}

.box-2 {
    background-color: #F9FAFB;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 100px;
}

.box-3 {
    background-color: #F9FAFB;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 100px;
    margin-right: 100px;
}

.And_much_more {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.alt {
    width: 30px;
    
}

footer{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #9a9593;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}